extends layout

block append scripts
  script(src='http://daddye.disqus.com/count.js', type='text/javascript')

block content
  // - var articles = contents.sort('articles', {by: 'date', limit: locals.index_articles})
  each article in helpers.sortArticles(contents)
    article.post
      header
        h1
          a(href=article.url)= article.title
      section.content!= article.intro
      section.footer
        .left
          = 'Written ' + moment(article.momentDate).fromNow()
        .right
          a.comments(href=article.url + '#disqus_thread', data-disqus-identifier=article.url) ...
          if article.hasMore
            | &nbsp;&nbsp;
            a.more(href=article.url) read more

  a.archive(href='archive.html') Visit the archives!
